
@using Test_Analytics.Model;
@model List<ProjectModel>;

<script type="text/javascript">
    function createNewProject() {
        jQuery.ajax({
            url: '/project',
            type: 'POST',
            data: JSON.stringify({
                Name: $('#project-name').val(),
            }),
            async: false,
            cache: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (returndata) {
                directTo();
            },
            error: function (returndata) {
                directTo();
            }
        });
    }

    var max = @Model.Last().Id + 1; // Default select + 1

    function directTo() {
        var project = "/project?id=" + max.toString();
        console.log(project);
        window.location.href = project;
    }
</script>

<div>
    <div class="form-row align-items-center">
        <div class="col-auto my-1">
            <label for="static-project-select" class="col-form-label">Select Project</label>
            <select onchange="selectProject()" id="idProjectSelect" class="form-control form-control-lg">
                <option value="0" selected>--Please Select--</option>
                @foreach( var project in Model ) {
                    <option value=@project.Id>@project.Name</option>
                }
            </select>
        </div>
    </div>
</div>

<div>
    <div class="form-row align-items-center">
        <div class="col-auto my-1">
            <label for="1">Name</label>
            <input type="text" class="form-control" id="project-name" aria-describedby="newHelper" placeholder="Project Name">
            <small id="newHelper" class="form-text text-muted">Enter a new project name and Click the Submit button.</small>

            <button class="btn btn-primary" , onclick="createNewProject()">Submit</button>
        </div>
    </div>
</div>
