@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "";
}

<a href="https://code.google.com/archive/p/test-analytics/wikis/InAppDocumentation.wiki#Project_Details">
    Google Source Page
</a>

<div class="maia-col-10 ng-scope">
    <hr>
    <markdown-widget text="wikiCtrl.wikiContents" class="markdown __reader_view_article_wrap_8684457552164409__">
        <h1>Introduction</h1>

        <p>This page details how to use the Test Analytics application.  For more information on the ACC methodology that Test Analytics uses, see AccExplained.</p>

        <h2>Project Details</h2>

        <p>These details help identify your project. You can also edit the name of the project here.</p>

        <p><strong>Permissions</strong>: Project owners can edit any ACC data, delete the project, or make the project public. Editors can edit ACC data. Viewers can see the ACC model, but not make any changes.</p>

        <p><strong>Public access</strong>: If a project is marked public, anybody can view the project as if they were listed on the project as a viewer. It may also appear on the Test Analytics homepage to the world.</p>

        <h2>Attributes</h2>

        <p>Attributes are the adjectives that describe your project. Common attributes include "Secure" and "Fast". Typically, a product manager or tester with high knowledge of the product will have a hand in narrowing down the list of attributes for the system.</p>

        <p>For more information on the ACC methodology that Test Analytics uses, see AccExplained.</p>

        <h2>Components</h2>

        <p>Components are the nouns that are parts of your project -- the building blocks that constitute the system in question. Examples could include "Firmware", "Shopping Cart" or "Database".</p>

        <p>For more information on the ACC methodology that Test Analytics uses, see AccExplained.</p>

        <h2>Capabilities</h2>

        <p>Capabilities are the verbs of your project. They describe the abilities of a component required to satisfy an attribute of a system. In an example of a e-commerce website, which would have an attribute "Secure" and a component "Shopping Cart", might have a capability "Process monetary transactions using HTTPS".</p>

        <p>For more information on the ACC methodology that Test Analytics uses, see AccExplained.</p>

        <h2>Configuring Data Requests</h2>

        <p>Test Analytics can have risk data brought in from external sources, such as bug trackers or test case managers. These data points can then be used to quantify the risk in your ACC model. Here, you can add a request from a supported data source and configure what data should be imported.</p>

        <p>For example, you could add an Issue Tracker data source, which is configured to bring in issues under a specific project, and marked with a specific label.</p>

        <p>Once you are importing data, you can use filters to automatically assign attributes, components, or capabilities to data as it is imported.</p>

        <h2>Filters</h2>

        <p>Filters allow you to assign attributes, components, and capabilities to your bugs, checkins, or test results as they are imported. You can filter on various options, such as title or labels.</p>

        <h2>Project Bugs, Checkins, and Testcases</h2>

        <p>This page allows you to see an overview of the data in your system, and which data has been assigned to your ACC model.</p>

        <h2>Risk</h2>

        <p>This allows you to visualize the risk of your project based off your assigned inherent risk, as well as the data you've imported into Test Analytics.</p>
    </markdown-widget>
</div>


<p class="mt-5 mb-3 text-muted text-center">&copy;Google</p>